* {
    box-shadow: border-box;
}

body {
    background: #181818;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

h4 {
    text-align: center;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #b70e21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,  /* ESTA LINEA AFECTA EL RADIO */
.contact-form form select,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #b70e21;
    border: 0;
    padding: 1em;
}

.contact-form form select option {
    background: #b70e21;
    border: 0;
    padding: 1em;
}

